* {
  margin: 0;
  padding: 0;
  border-style: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
}

@font-face {
  font-family: 'Digital';
  src: url(./DS-DIGI.TTF);
}

.App {
  background-color: #3e2723;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App h1 {
  color: white;
  margin-top: 30px;
}

.calc {
  background-color: #16191c;
  border-radius: 10px;
  width: 400px;
  padding: 10px;
}

.total,
#display {
  font-family: 'Digital';
  font-size: 29px;
  transform: scale(1.1, 1);
  transform-origin: right;
}

.displayStyle {
  width: auto;
  height: 60px;
  padding: 10px;
  background-color: #d4e4e3;
  text-align: right;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#clear {
  grid-area: clear;
  background-color: #e78e51;
  color: black;
  transition: all 0.5s ease;
}

#equals {
  grid-area: equals;
}

#decimal {
  grid-area: decimal;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'clear clear divide multiply'
    'seven eight nine subtract'
    'four five six add'
    'one two three equals'
    'zero zero decimal equals';
  grid-gap: 5px;
  margin-top: 20px;
}

button {
  background-color: #272b31;
  outline: none;
  border: 1px solid black;
  border-style: ridge;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  font-weight: 800;
  transition: all 0.5s ease;
}

button:hover {
  background-color: #4f4c52;
}

#clear:hover {
  background-color: #f19274;
}

.credits {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credits a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-top: 5px;
}

.credits a img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media (max-width: 500px) {
  .App h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .calc {
    width: 280px;
  }

  .buttons {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'clear clear clear'
      'seven eight nine'
      'four five six'
      'one two three'
      'zero decimal equals'
      'add subtract equals'
      'multiply divide equals';
  }
}

@media (max-width: 300px) {
  .calc {
    width: 230px;
  }
}
